.bookSpineLink,
.bookSpineLink:visited {
  display: inline-flex;
  margin: 0 0 1.5vh 0;
  padding: 0;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  font-weight: unset;
}

.bookSpineDiv {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% auto 2% auto 1fr auto 5%;
  height: 28.5rem;
  width: 3.1rem;
  font-size: 0.65rem;
}

.bookIsBought {
  color: lightgray;
}

.bookSpineDiv:hover {
  position: relative;
  z-index: 10000;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  transform: perspective(60rem) rotateX(-1deg) scale(1.05) translateY(0.2rem);
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.bookSpineTitle {
  grid-row: 2;
  writing-mode: vertical-rl;
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.bookSpineSubtitle {
  grid-row: 4;
  writing-mode: vertical-rl;
  justify-self: center;
  font-size: 90%;
  letter-spacing: 0.03em;
  font-style: italic;
}

.bookSpineRedTextSpan {
  color: rgb(225, 23, 23);
}

.bookSpineAuthor {
  grid-row: 6;
  writing-mode: vertical-rl;
  justify-self: center;
  text-align: end;
  font-size: 90%;
  letter-spacing: 0.03em;
  font-variant: small-caps;
}
