* {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration-skip: ink;
}

body {
  /* font-family: 'Open Sans', 'Myriad Pro', Myriad, sans-serif; */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 17px;
  line-height: 160%;
  color: #1d1313;
  max-width: 700px;
  margin: auto;
}

p {
  margin: 20px 0;
}

img {
  margin: 10px auto 10px auto;
  max-width: 100%;
  display: block;
}

a img {
  border: none;
}

.left-justify {
  float: left;
}

.right-justify {
  float: right;
}

q,
em,
dfn {
  font-style: italic;
}

.sans,
html .gist .gist-file .gist-meta {
  font-family: "Open Sans", "Myriad Pro", Myriad, sans-serif;
}

.heading,
.serif,
h1,
h2,
h3 {
  text-align: center;
}

strong {
  font-weight: 600;
}

q::before {
  content: "\201C";
}

q::after {
  content: "\201D";
}

del,
s {
  text-decoration: line-through;
}

blockquote {
  font-family: "Old Standard TT", serif;
  text-align: center;
  padding: 50px;
}

blockquote p {
  display: inline-block;
  font-style: italic;
}

blockquote::before,
blockquote::after {
  font-family: "Old Standard TT", serif;
  content: "\201C";
  font-size: 35px;
  color: #403c3b;
}

blockquote::after {
  content: "\201D";
}

hr {
  width: 60%;
  height: 1px;
  background: #403c3b;
  margin: 25px auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1rem;
  margin-top: 1.1rem;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

h1,
h2 {
  margin-top: 2rem;
}

#sub-header,
time {
  color: #403c3b;
  font-size: 13px;
}

#sub-header {
  margin: 0 4px;
}

.posts_listing li a:hover {
  text-decoration: underline;
}

#not-found {
  text-align: center;
}

#not-found a {
  font-family: "Old Standard TT", serif;
  font-size: 200px;
  text-decoration: none;
  display: inline-block;
  padding-top: 225px;
}

#nav a {
  text-decoration: none;
}

#nav h1 a {
  color: #1d1313;
  line-height: 120%;
}

#nav a:hover {
  text-decoration: underline;
}

li {
  margin-left: 20px;
}

ul li {
  margin-left: 5px;
  list-style-type: none;
}

ul li::before {
  content: "\00BB \0020";
}

.posts_listing li::before,
#nav ul li::before {
  content: "";
  margin-right: 0;
}

#content {
  text-align: left;
  width: 100%;
  font-size: 15px;
  padding: 1rem 0 2rem 0;
}

#content h1,
#content h2 {
  margin-bottom: 5px;
}

#content h2 {
  font-size: 25px;
}

#content .entry-content {
  margin-top: 15px;
}

#content time {
  margin-left: 3px;
}

#content h1 {
  font-size: 30px;
}

.highlight {
  margin: 10px 0;
}

.posts_listing {
  margin: 0 0 50px;
}

.posts_listing li {
  margin: 0 0 25px 0;
}

#nav {
  text-align: center;
  position: static;
  margin-top: 60px;
}

#nav ul {
  display: table;
  margin: 8px auto 0 auto;
}

#nav li {
  list-style-type: none;
  display: table-cell;
  font-size: 15px;
  padding: 0 20px;
}

#links {
  margin: 50px 0 0 0;
}

#links :nth-child(2) {
  float: right;
}

@media (max-width: 750px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  #nav h1 a {
    font-size: 28px;
  }

  #nav li {
    font-size: 13px;
    padding: 0 15px;
  }

  #content {
    margin-top: 0;
    padding-top: 50px;
    font-size: 14px;
  }

  #content h1 {
    font-size: 25px;
  }

  #content h2 {
    font-size: 22px;
  }

  .posts_listing li div {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  #nav h1 a {
    font-size: 22px;
  }

  #nav li {
    font-size: 12px;
    padding: 0 10px;
  }

  #content {
    margin-top: 0;
    padding-top: 20px;
    font-size: 12px;
  }

  #content h1 {
    font-size: 20px;
  }

  #content h2 {
    font-size: 18px;
  }

  .posts_listing li div {
    font-size: 12px;
  }
}

#date,
#time,
#sub-header,
header,
footer {
  text-align: center;
}

footer {
  width: 100%;
  font-size: 9px;
  padding: 60px 0 80px;
}
