.flipbook {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr minmax(200px, calc(1px * var(--bookWidth))) 1fr;
}

.flipbook div {
  transform-style: preserve-3d;
}

.scenewrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.scene,
.flipscene {
  grid-column: 1/2;
  grid-row: 1/2;
  perspective: 200vw;
  padding-top: calc(var(--bookHeight) / var(--bookWidth) * 50%);
}

.card {
  border: 1px solid lightgray;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  transform-origin: center left;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.card.flipped {
  transform: rotateY(-180deg);
}

.card-face {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face.back {
  border-right: white;
  transform: rotateY(180deg);
}

.empty-page-cover-div {
  width: 100%;
  height: 100%;
  background-color: white;
}

.single {
  border: 1px solid salmon;
}
.double {
  border: 0px solid burlywood;
}
