@charset "UTF-8";
/*!
 *                                                                                                                                (℠)
 *  # BiB/i
 *
 *  - "EPUB Reader on Your Web Site."
 *  - (c) Satoru MATSUSHIMA - http://bibi.epub.link or https://github.com/satorumurmur/bibi
 *  - Licensed under the MIT license. - http://www.opensource.org/licenses/mit-license.php
 *
 */
/*!
 *
 *  ## Font: Font Awesome
 *  - Copyright (c) Dave Gandy - http://fontawesome.io
 *  - Licensed under the SIL Open Font License (OFL) 1.1 - http://scripts.sil.org/OFL
 *
 */
/*!
 *
 *  ## Font: The Elegant Icon Font
 *  - Copyright (c) Elegant Themes, Inc. - http://www.elegantthemes.com/blog/resources/elegant-icon-font
 *  - Dual licensed under the GPL 2.0 and MIT license. - http://www.gnu.org/licenses/gpl-2.0.html and http://www.opensource.org/licenses/mit-license.php
 *
 */
/*!
 *
 *  ## Font: Material Icons
 *  - Copyright (c) Material Design Authors / Google Inc. - https://material.io/icons/
 *  - Licensed under the Apache License Version 2.0 - https://www.apache.org/licenses/LICENSE-2.0
 *
 */
@font-face{font-family:BibiYuGothic;font-weight:100;src:local("YuGothic-Light"),local("Yu Gothic Light")}@font-face{font-family:BibiYuGothic;font-weight:200;src:local("YuGothic-Light"),local("Yu Gothic Light")}@font-face{font-family:BibiYuGothic;font-weight:300;src:local("YuGothic-Regular"),local("Yu Gothic")}@font-face{font-family:BibiYuGothic;font-weight:400;src:local("YuGothic-Medium"),local("Yu Gothic Medium"),local("YuGothic-Regular"),local("Yu Gothic")}@font-face{font-family:BibiYuGothic;font-weight:500;src:local("YuGothic-Medium"),local("Yu Gothic Medium"),local("YuGothic-Regular"),local("Yu Gothic")}@font-face{font-family:BibiYuGothic;font-weight:600;src:local("YuGothic-Bold"),local("Yu Gothic")}@font-face{font-family:BibiYuGothic;font-weight:700;src:local("YuGothic-Bold"),local("Yu Gothic")}@font-face{font-family:BibiYuGothic;font-weight:800;src:local("YuGothic-Bold"),local("Yu Gothic")}@font-face{font-family:BibiYuGothic;font-weight:900;src:local("YuGothic-Bold"),local("Yu Gothic")}@font-face{font-family:FontAwesome;font-weight:400;font-style:normal;src:url(../fonts/FontAwesome/fontawesome-webfont.woff2) format("woff2"),url(../fonts/FontAwesome/fontawesome-webfont.woff) format("woff"),url(../fonts/FontAwesome/fontawesome-webfont.ttf) format("truetype")}@font-face{font-family:ElegantIcons;font-weight:400;font-style:normal;src:url(../fonts/ElegantIcons/ElegantIcons.woff) format("woff"),url(../fonts/ElegantIcons/ElegantIcons.ttf) format("truetype")}@font-face{font-family:Material Icons;font-style:normal;font-weight:400;src:url(../fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"),url(../fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"),url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype")}
/*!
 *                                                                                                                                (℠)
 *  ## BiB/i (heart)
 *  - "Heart of BiB/i"
 *
 */
.non-visual{display:block!important;position:absolute!important;overflow:hidden!important;margin:0!important;padding:0!important;border:0!important;left:0!important;top:0!important;width:0!important;height:0!important;background:transparent!important}.separator{display:block;overflow:hidden;margin:0;padding:0;border:solid #000;border-width:1px 0 0;height:0}.uppercase{text-transform:uppercase!important}*{margin:0;padding:0;border-style:none;border:0;font-size:100%;font-weight:400;font-style:normal}li{list-style:none outside}article,aside,figcaption,figure,footer,header,nav,section{display:block}.bibi-logo .bibi-type{font-weight:inherit;font-family:Quando,serif;letter-spacing:-.075em;word-break:keep-all}.bibi-logo .bibi-type,.bibi-logo .bibi-type .bibi-type-B,.bibi-logo .bibi-type .bibi-type-i,.bibi-logo .bibi-type .bibi-type-slash{display:inline-block;position:relative}.bibi-logo .bibi-type .bibi-type-slash{font-family:Lato,sans-serif;margin-right:.0275em;font-family:Cantata One,serif;top:.05em;margin-left:-.05em;margin-right:-.081em;font-weight:300;font-size:.69em}.bibi-icon,.bibi-icon *,.bibi-icon:before{box-sizing:border-box;display:inline-block;padding:0;border-style:none;border-width:0;text-align:center;vertical-align:middle;text-decoration:none}.bibi-icon{overflow:hidden;position:relative;border:1px solid;border-radius:3px;width:31px;height:31px}.bibi-subpanel .bibi-icon{width:21px;height:21px}.bibi-icon *,.bibi-icon:before{position:absolute;margin:0}.bibi-icon-view-horizontal span.bibi-shape-spreads,.bibi-icon-view-paged span.bibi-shape-spreads,.bibi-icon-view-vertical span.bibi-shape-spreads{left:0;right:0;top:0;bottom:0;margin:auto;width:17px;height:16px}.bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread,.bibi-icon-view-paged span.bibi-shape-spreads span.bibi-shape-spread,.bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread{left:0;top:0;width:100%;height:100%}.bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-icon-view-paged span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{top:0;border:1px solid;width:9px;height:16px}.bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:first-child,.bibi-icon-view-paged span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:first-child,.bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:first-child{left:0}.bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:last-child,.bibi-icon-view-paged span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:last-child,.bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:last-child{left:8px}.bibi-subpanel .bibi-icon-view-horizontal span.bibi-shape-spreads,.bibi-subpanel .bibi-icon-view-paged span.bibi-shape-spreads,.bibi-subpanel .bibi-icon-view-vertical span.bibi-shape-spreads{width:13px;height:11px}.bibi-subpanel .bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-subpanel .bibi-icon-view-paged span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-subpanel .bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{width:7px;height:11px}.bibi-subpanel .bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:last-child,.bibi-subpanel .bibi-icon-view-paged span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:last-child,.bibi-subpanel .bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item:last-child{left:6px}.bibi-icon-view-paged span.bibi-shape-spreads-paged span.bibi-shape-spread:first-child,.bibi-icon-view-paged span.bibi-shape-spreads-paged span.bibi-shape-spread:last-child{display:none}.bibi-icon-view-horizontal span.bibi-shape-spreads-horizontal span.bibi-shape-spread:first-child{left:-18px}.bibi-icon-view-horizontal span.bibi-shape-spreads-horizontal span.bibi-shape-spread:last-child{left:18px}.bibi-subpanel .bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread:first-child{left:-14px}.bibi-subpanel .bibi-icon-view-horizontal span.bibi-shape-spreads span.bibi-shape-spread:last-child{left:14px}.bibi-icon-view-vertical span.bibi-shape-spreads-vertical span.bibi-shape-spread:first-child{top:-17px}.bibi-icon-view-vertical span.bibi-shape-spreads-vertical span.bibi-shape-spread:last-child{top:17px}.bibi-subpanel .bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread:first-child{top:-12px}.bibi-subpanel .bibi-icon-view-vertical span.bibi-shape-spreads span.bibi-shape-spread:last-child{top:12px}.bibi-icon-toggle-panel>span{left:0;right:0;margin:auto;width:19px;height:2px;border-radius:1px}.bibi-icon-toggle-panel>span.bar-1{top:7.5px}.bibi-icon-toggle-panel>span.bar-2{top:13.5px}.bibi-icon-toggle-panel>span.bar-3{top:19.5px}.bibi-button.active .bibi-icon-toggle-panel>span.bar-1{opacity:1;transform:translateY(6px) rotate(135deg)}.bibi-button.active .bibi-icon-toggle-panel>span.bar-2{opacity:0;transform:rotate(-1turn)}.bibi-button.active .bibi-icon-toggle-panel>span.bar-3{opacity:1;transform:translateY(-6px) rotate(225deg)}.bibi-icon-open-newwindow,.bibi-icon-setting,.bibi-icon-share,.bibi-icon-toggle-fullscreen{text-decoration:none}.bibi-icon-open-newwindow:before,.bibi-icon-setting:before,.bibi-icon-share:before,.bibi-icon-toggle-fullscreen:before{left:0;right:0;top:0;bottom:0;margin:0;width:100%;height:100%;text-align:center;vertical-align:middle;line-height:30.38px}.bibi-subpanel .bibi-icon-open-newwindow:before,.bibi-subpanel .bibi-icon-setting:before,.bibi-subpanel .bibi-icon-share:before,.bibi-subpanel .bibi-icon-toggle-fullscreen:before{line-height:20.58px}.bibi-icon-setting:before{font-family:ElegantIcons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;content:"\e037";font-size:19px}.bibi-icon-setting:before,.bibi-icon-share:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;-moz-osx-font-smoothing:grayscale;speak:none}.bibi-icon-share:before{font-family:ElegantIcons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;content:"\e0a0";font-size:16px}.bibi-icon-toggle-fullscreen:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none}.bibi-subpanel .bibi-icon-toggle-fullscreen:before{font-size:15px}.bibi-icon-toggle-fullscreen:before{content:"\f065"}:-webkit-full-screen .bibi-icon-toggle-fullscreen:before{content:"\f066"}:-moz-full-screen .bibi-icon-toggle-fullscreen:before{content:"\f066"}:-ms-fullscreen .bibi-icon-toggle-fullscreen:before{content:"\f066"}:fullscreen .bibi-icon-toggle-fullscreen:before{content:"\f066"}.bibi-icon-open-newwindow:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:"\f08e";font-size:21px}.bibi-subpanel .bibi-icon-open-newwindow:before{margin-top:.06em;margin-left:.09em;font-size:13px}.bibi-icon{color:#ececec;border-color:#ececec;
	background-color:hsla(0,0%,100%,.9)}.bibi-icon:after,.bibi-icon:before{color:#909090;text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#909090;background-color:#fff}.bibi-icon.bibi-icon-toggle-panel>span{background-color:#909090;box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-icon{color:silver;border-color:silver;background-color:#f8f8f8}.bibi-subpanel .bibi-icon:after,.bibi-subpanel .bibi-icon:before{color:gray;text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#909090;background-color:#fff}.bibi-subpanel .bibi-icon.bibi-icon-toggle-panel>span{background-color:gray;box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-icon,.bibi-icon *,.bibi-icon:after,.bibi-icon:before{transition:color .125s linear,background-color .125s linear,border-color .125s linear,text-shadow .125s linear,box-shadow .125s linear,transform .25s ease}.bibi-button.default.hover .bibi-icon,.bibi-button.default:hover .bibi-icon{color:silver;border-color:silver;background-color:hsla(0,0%,100%,.9);cursor:pointer}.bibi-button.default.hover .bibi-icon:after,.bibi-button.default.hover .bibi-icon:before,.bibi-button.default:hover .bibi-icon:after,.bibi-button.default:hover .bibi-icon:before{color:#404040;text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-button.default.hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-button.default:hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#404040;background-color:#fff}.bibi-button.default.hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-button.default:hover .bibi-icon.bibi-icon-toggle-panel>span{background-color:#404040;box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-button.default.hover .bibi-icon,.bibi-subpanel .bibi-button.default:hover .bibi-icon{color:#2d84cd;border-color:#2d84cd;background-color:#e6f1fa;transition:inherit}.bibi-subpanel .bibi-button.default.hover .bibi-icon:after,.bibi-subpanel .bibi-button.default.hover .bibi-icon:before,.bibi-subpanel .bibi-button.default:hover .bibi-icon:after,.bibi-subpanel .bibi-button.default:hover .bibi-icon:before{color:#2d84cd;text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-button.default.hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-subpanel .bibi-button.default:hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#2d84cd;background-color:#fff}.bibi-subpanel .bibi-button.default.hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-subpanel .bibi-button.default:hover .bibi-icon.bibi-icon-toggle-panel>span{background-color:#2d84cd;box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-button-radio.active .bibi-icon{cursor:default}.bibi-button.active .bibi-icon{color:#a0a0a0;border-color:#a0a0a0;background-color:#909090}.bibi-button.active .bibi-icon:after,.bibi-button.active .bibi-icon:before{color:hsla(0,0%,100%,.9);text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-button.active .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#909090;background-color:#fff}.bibi-button.active .bibi-icon.bibi-icon-toggle-panel>span{background-color:hsla(0,0%,100%,.9);box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-button.active .bibi-icon:after,.bibi-button.active .bibi-icon:before{transform:rotate(1turn)}.bibi-subpanel .bibi-button.active .bibi-icon{color:#2d84cd;border-color:#2d84cd;background-color:#2d84cd}.bibi-subpanel .bibi-button.active .bibi-icon:after,.bibi-subpanel .bibi-button.active .bibi-icon:before{color:#fff;text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-button.active .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#2d84cd;background-color:#fff}.bibi-subpanel .bibi-button.active .bibi-icon.bibi-icon-toggle-panel>span{background-color:#fff;box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-button-normal.active.hover .bibi-icon,.bibi-button-normal.active:hover .bibi-icon,.bibi-button-toggle.active.hover .bibi-icon,.bibi-button-toggle.active:hover .bibi-icon{color:#b9b9b9;border-color:#b9b9b9;background-color:#606060;cursor:pointer}.bibi-button-normal.active.hover .bibi-icon:after,.bibi-button-normal.active.hover .bibi-icon:before,.bibi-button-normal.active:hover .bibi-icon:after,.bibi-button-normal.active:hover .bibi-icon:before,.bibi-button-toggle.active.hover .bibi-icon:after,.bibi-button-toggle.active.hover .bibi-icon:before,.bibi-button-toggle.active:hover .bibi-icon:after,.bibi-button-toggle.active:hover .bibi-icon:before{color:hsla(0,0%,100%,.9);text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-button-normal.active.hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-button-normal.active:hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-button-toggle.active.hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-button-toggle.active:hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#aaa;background-color:#fff}.bibi-button-normal.active.hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-button-normal.active:hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-button-toggle.active.hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-button-toggle.active:hover .bibi-icon.bibi-icon-toggle-panel>span{background-color:hsla(0,0%,100%,.9);box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-button-normal.active.hover .bibi-icon,.bibi-subpanel .bibi-button-normal.active:hover .bibi-icon,.bibi-subpanel .bibi-button-toggle.active.hover .bibi-icon,.bibi-subpanel .bibi-button-toggle.active:hover .bibi-icon{color:#2d84cd;border-color:#2d84cd;background-color:#7db5e3}.bibi-subpanel .bibi-button-normal.active.hover .bibi-icon:after,.bibi-subpanel .bibi-button-normal.active.hover .bibi-icon:before,.bibi-subpanel .bibi-button-normal.active:hover .bibi-icon:after,.bibi-subpanel .bibi-button-normal.active:hover .bibi-icon:before,.bibi-subpanel .bibi-button-toggle.active.hover .bibi-icon:after,.bibi-subpanel .bibi-button-toggle.active.hover .bibi-icon:before,.bibi-subpanel .bibi-button-toggle.active:hover .bibi-icon:after,.bibi-subpanel .bibi-button-toggle.active:hover .bibi-icon:before{color:#fff;text-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-subpanel .bibi-button-normal.active.hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-subpanel .bibi-button-normal.active:hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-subpanel .bibi-button-toggle.active.hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item,.bibi-subpanel .bibi-button-toggle.active:hover .bibi-icon span.bibi-shape-spreads span.bibi-shape-spread span.bibi-shape-item{border-color:#2d84cd;background-color:#fff}.bibi-subpanel .bibi-button-normal.active.hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-subpanel .bibi-button-normal.active:hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-subpanel .bibi-button-toggle.active.hover .bibi-icon.bibi-icon-toggle-panel>span,.bibi-subpanel .bibi-button-toggle.active:hover .bibi-icon.bibi-icon-toggle-panel>span{background-color:#fff;box-shadow:-1px -1px 0 transparent,0 -1px 0 transparent,1px -1px 0 transparent,1px 0 0 transparent,1px 1px 0 transparent,0 1px 0 transparent,-1px 1px 0 transparent,-1px 0 0 transparent,0 0 1px transparent}.bibi-icon-Twitter{margin-top:.05em;margin-right:-.1em;background:transparent!important;font-size:18.6px;line-height:29.76px;border:0 none;border-radius:0;font-size:31px}.bibi-subpanel .bibi-icon-Twitter{font-size:12.6px;line-height:20.16px}.bibi-icon-Twitter:after,.bibi-icon-Twitter:before{display:inline-block;color:#1da1f2!important;top:0;right:0;bottom:0;left:0;margin:auto;box-shadow:none!important}.bibi-icon-Twitter:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:""}.bibi-subpanel .bibi-icon-Twitter{font-size:21px}.bibi-icon-Facebook{margin-top:.05em;margin-right:-.1em;background:transparent!important;font-size:18.6px;line-height:29.76px;border:0 none;border-radius:0;font-size:31px}.bibi-subpanel .bibi-icon-Facebook{font-size:12.6px;line-height:20.16px}.bibi-icon-Facebook:after,.bibi-icon-Facebook:before{display:inline-block;color:#3a5999!important;top:0;right:0;bottom:0;left:0;margin:auto;box-shadow:none!important}.bibi-icon-Facebook:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:""}.bibi-subpanel .bibi-icon-Facebook{font-size:21px}.bibi-icon-GooglePlus{margin-top:.05em;margin-right:-.1em;background:transparent!important;font-size:18.6px;line-height:29.76px;border:0 none;border-radius:0;font-size:31px}.bibi-subpanel .bibi-icon-GooglePlus{font-size:12.6px;line-height:20.16px}.bibi-icon-GooglePlus:after,.bibi-icon-GooglePlus:before{display:inline-block;color:#db4437!important;top:0;right:0;bottom:0;left:0;margin:auto;box-shadow:none!important}.bibi-icon-GooglePlus:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:""}.bibi-subpanel .bibi-icon-GooglePlus{font-size:21px}.bibi-icon-code{margin-top:.05em;margin-right:-.1em;background:transparent!important;font-size:18.6px;line-height:29.76px}.bibi-subpanel .bibi-icon-code{font-size:12.6px;line-height:20.16px}.bibi-icon-code:after,.bibi-icon-code:before{display:inline-block;color:#80a000!important;top:0;right:0;bottom:0;left:0;margin:auto;box-shadow:none!important}.bibi-icon-code:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:""}.bibi-icon-anchor{margin-top:.05em;margin-right:-.1em;background:transparent!important;font-size:18.6px;line-height:29.76px}.bibi-subpanel .bibi-icon-anchor{font-size:12.6px;line-height:20.16px}.bibi-icon-anchor:after,.bibi-icon-anchor:before{display:inline-block;color:navy!important;top:0;right:0;bottom:0;left:0;margin:auto;box-shadow:none!important}.bibi-icon-anchor:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:""}.bibi-icon-colorless:before{color:inherit}html{overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;font-family:sans-serif;-webkit-font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:100%;background:#fff;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}html.welcome{overflow:scroll!important}html.iOS,html.macOS{font-family:Helvetica,Trebuchet MS,游ゴシック,Yu Gothic,YuGothic,ヒラギノ角ゴ ProN W3,HiraKakuProN-W3,sans-serif}html.Windows{font-family:Helvetica,Trebuchet MS,游ゴシック,Yu Gothic,YuGothic,メイリオ,Meiryo,sans-serif}html[data-bibi-cursor=bottom],html[data-bibi-cursor=left],html[data-bibi-cursor=right],html[data-bibi-cursor=top]{cursor:pointer}body{overflow:hidden;width:100%;height:100%;background:transparent no-repeat 50%;transition:opacity .25s ease}body *{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}html.Blink ::-webkit-scrollbar,html.WebKit ::-webkit-scrollbar{height:16px;width:16px}html.Blink ::-webkit-scrollbar-track,html.WebKit ::-webkit-scrollbar-track{background:#fff}html.Blink ::-webkit-scrollbar-thumb,html.WebKit ::-webkit-scrollbar-thumb{border-radius:8px;border:4px solid #fff;background:#404040}html.Blink ::-webkit-scrollbar-thumb:hover,html.WebKit ::-webkit-scrollbar-thumb:hover{background:#606060}html.Blink ::-webkit-scrollbar-thumb:active,html.WebKit ::-webkit-scrollbar-thumb:active{background:silver}html.Blink.zoomed-in ::-webkit-scrollbar,html.WebKit.zoomed-in ::-webkit-scrollbar{height:0;width:0}html.Blink.zoomed-in ::-webkit-scrollbar-track,html.WebKit.zoomed-in ::-webkit-scrollbar-track{background:transparent}html.Blink.zoomed-in ::-webkit-scrollbar-thumb,html.WebKit.zoomed-in ::-webkit-scrollbar-thumb{border-color:transparent;background:transparent}html.Blink.zoomed-in ::-webkit-scrollbar-thumb:active,html.Blink.zoomed-in ::-webkit-scrollbar-thumb:hover,html.WebKit.zoomed-in ::-webkit-scrollbar-thumb:active,html.WebKit.zoomed-in ::-webkit-scrollbar-thumb:hover{background:transparent}html.Blink.view-horizontal body:after,html.Blink.view-vertical body:after,html.WebKit.view-horizontal body:after,html.WebKit.view-vertical body:after{content:"";display:block;position:fixed;z-index:2;margin:auto;background:#e8e8e8;transition:opacity .1s linear;opacity:1}html.Blink.busy body:after,html.Blink.laying-out body:after,html.Blink.shade-opened body:after,html.WebKit.busy body:after,html.WebKit.laying-out body:after,html.WebKit.shade-opened body:after{opacity:0}html.Blink.view-horizontal body:after,html.WebKit.view-horizontal body:after{left:0;right:0;top:auto;bottom:15px;width:100%;height:1px}html.Blink.view-vertical body:after,html.WebKit.view-vertical body:after{top:0;bottom:0;left:auto;right:15px;width:1px;height:100%}html.Blink.Android body:after,html.Blink.iOS body:after,html.WebKit.Android body:after,html.WebKit.iOS body:after{display:none!important}div#bibi-info{overflow:hidden;width:0;height:0}div#epub-metafiles,div#epub-metafiles *{display:none}div#bibi-main{-webkit-overflow-scrolling:touch;overflow:hidden;box-sizing:border-box;position:absolute;z-index:1;top:0;right:0;bottom:0;left:0;padding-top:39px;width:100%;height:100%;transition:.15s ease;transform-origin:0 0;will-change:scroll-position,transform,opacity}html.book-full-height div#bibi-main{padding-top:0}html.view-horizontal div#bibi-main{overflow-x:scroll}html.view-vertical div#bibi-main{overflow-y:scroll}html.laying-out div#bibi-main{opacity:0}html.busy div#bibi-main{opacity:.25}html.slider-opened div#bibi-main{opacity:.75}div#bibi-main-book{position:relative;z-index:1;width:100%;height:100%;transition:.5s ease-in-out;transition-property:transform}div.spread-box{position:relative}html.spread-ltr div.spread-box{float:left}html.spread-rtl div.spread-box{float:right}html.swipe-active div.spread-box.image-spread-box:after{content:"";display:block;position:absolute;z-index:2;top:0;right:0;bottom:0;left:0;margin:0;width:100%;height:100%}div.spread{overflow:hidden;position:relative;z-index:1;width:100%;height:100%;background:#fff}div.spread.pre-paginated{background:transparent}html.view-paged div.spread{box-shadow:none!important}div.item-box{display:block;position:relative;z-index:1;overflow:hidden}div.spread-box.pre-paginated div.item-box.page-spread-left{float:left}div.spread-box.pre-paginated div.item-box.page-spread-right{float:right}html.book-pre-paginated.view-paged div.item-box{opacity:.25}html.book-pre-paginated.view-paged div.item-box.current{opacity:1}div.item-box:before{content:"";position:absolute;z-index:1;left:0;top:0;width:100%;height:100%;background:#fff}iframe.item,span.page{display:block;z-index:10}iframe.item{position:relative;z-index:2;margin:0;padding:0;border:0 none;line-height:1;vertical-align:top}html.zoomed-in iframe.item{will-change:transform}html.transforming iframe.item{will-change:none!important}html.page-ltr iframe.item{transform-origin:0 0}html.page-rtl iframe.item{transform-origin:100% 0}span.page{position:absolute;z-index:1}html.spread-horizontal span.page{top:0}html.spread-vertical span.page{left:0}html.spread-vertical div.spread-box.pre-paginated span.page{left:auto;top:0}span.overreflow-opener{display:block;z-index:100;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;width:calc(100% - 30px);height:100%;height:calc(100% - 30px);background:transparent;cursor:pointer;opacity:0;transition:.1s linear}span.overreflow-opener:hover{opacity:1;background:rgba(0,0,0,.2);transition:.2s linear}span.overreflow-opener:active{background:rgba(0,0,0,.4);transition:.05s linear}span.overreflow-opener:after,span.overreflow-opener:before,span.overreflow-opener a{position:absolute;display:block}span.overreflow-opener a{z-index:1;opacity:0;overflow:hidden;width:0;height:0}span.overreflow-opener:after,span.overreflow-opener:before{left:0;right:0;top:auto;bottom:25%;margin:auto;width:50px;height:50px}span.overreflow-opener:before{content:"";z-index:10;border-radius:8px;background:hsla(0,0%,100%,.69)}span.overreflow-opener:after{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:Material Icons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:"\e89d";z-index:100;line-height:50px;text-align:center;font-size:48px;color:rgba(0,0,0,.69)}div#bibi-sub{position:fixed;z-index:10;top:0;right:0;margin:auto;padding:0;display:none}div#bibi-sub,div#bibi-sub div.overreflow-layer{box-sizing:border-box;bottom:0;left:0;width:100%;height:100%}div#bibi-sub div.overreflow-layer{-webkit-overflow-scrolling:touch;position:absolute;z-index:1;background:hsla(0,0%,100%,.96);transform-origin_:50% 100%;transition:.125s ease-out}.iOS div#bibi-sub div.overreflow-layer{overflow:scroll;height:calc(100% - 41px)}div#bibi-sub div.overreflow-layer.hidden{opacity:0;transform:scale(0,.88)}div#bibi-sub div.overreflow-layer iframe.overreflow-frame{box-sizing:border-box;display:block;position:absolute;z-index:1;left:0;bottom:0;padding-top:41px;width:100%;height:100%}.iOS div#bibi-sub div.overreflow-layer iframe.overreflow-frame{padding-top:0}div#bibi-sub div.overreflow-bar{box-sizing:border-box;display:block;overflow:hidden;position:absolute;z-index:10;left:0;top:0;width:100%;height:41px;transform-origin_:50% 0;transition:.25s ease-out;box-shadow:0 2px 4px rgba(0,0,0,.125)}div#bibi-sub div.overreflow-bar.hidden{opacity:0;transform:scaleY(0)}div#bibi-sub div.overreflow-bar span.overreflow-closer{box-sizing:border-box;display:block;border-bottom:1px solid hsla(0,0%,100%,.34);width:100%;height:100%;text-align:center;line-height:44px;font-size:18px;text-indent:24px;cursor:pointer;color:#404040;background:#f8f8f8;transition:.15s linear}div#bibi-sub div.overreflow-bar span.overreflow-closer:active,div#bibi-sub div.overreflow-bar span.overreflow-closer:hover{color:#fff;background:gray}div#bibi-sub div.overreflow-bar span.overreflow-closer:before{direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:Material Icons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:"\e888";display:inline-block;position:absolute;top:12px;left:50%;margin-left:-2.925em;width:20px;height:20px;line-height:20px;font-size:20px;vertical-align:top}div#__bs_notify__{box-sizing:border-box!important;display:table-cell!important;position:fixed!important;top:0!important;right:0!important;bottom:0!important;left:0!important;margin:auto!important;border-radius:1.5em!important;padding:0!important;width:16em!important;height:3em!important;line-height:3em!important;font-size:14px!important;font-weight:700!important;text-indent:-.25em!important;text-shadow:0 0 2px #000!important;background:rgba(0,0,0,.5)!important}div#bibi-notifier-board{box-sizing:border-box;position:fixed;z-index:99999999999;top:0;padding:0 8px;width:100%;height:39px;color:#454545;background:hsla(0,0%,99%,.96);box-shadow:0 2px 4px rgba(0,0,0,.125);transition:.15s linear;transform-origin:50% 0}div#bibi-notifier-board p{text-align:center;font-size:12px;font-weight:700;line-height:40.95px}div#bibi-notifier-board p.error{color:#c04000}div#bibi-notifier-board p small{font-size:.875em}div#bibi-notifier-board{opacity:0;transform:scaleY(0);transition:.2s linear}html.notifier-shown div#bibi-notifier-board{opacity:1;transform:none;transition:.15s linear}div#bibi-veil{box-sizing:border-box;overflow:hidden;display:block;position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;font-size:15px;color:#ecebec;background:#ecebec;opacity:1;transition:.5s ease-in}div#bibi-veil.closed{opacity:0;transition:.5s ease-out}html.appearance-ltr div#bibi-veil.closed{transform:translateX(-240%)}html.appearance-rtl div#bibi-veil.closed{transform:translateX(240%)}html.appearance-ttb div#bibi-veil.closed{transform:translateY(-240%)}div#bibi-veil:after{content:"";box-sizing:border-box;display:block;position:absolute;z-index:1;left:0;right:0;bottom:0;margin:0 auto;padding:4px;border-style:solid;border-width:1px 0;width:100%;height:39px;border-color:transparent;background:#ecebec}p#bibi-veil-byebye{position:absolute;z-index:10;top:69px;right:0;bottom:auto;left:0;margin:auto;line-height:1.75;text-align:center;font-size:12px;font-weight:700;color:#fff}p#bibi-veil-byebye a{color:inherit;transition:.2s linear}p#bibi-veil-byebye a:hover{color:#d8d8d8;transition:.1s linear}p#bibi-veil-byebye span{display:block;position:relative}p#bibi-veil-byebye span[lang=ja]{margin-top:1.5em;padding-top:1.5em}p#bibi-veil-byebye span[lang=ja]:before{content:"";display:block;position:absolute;left:0;right:0;top:0;margin:auto;width:2em;height:1px;background:#fff}div#bibi-veil-cover{overflow:hidden;position:absolute;z-index:10;left:0;top:0;box-sizing:border-box;border:solid transparent;border-width:4px;width:100%;height:100%;opacity:0;transition:opacity .5s linear;background:transparent no-repeat 50%;background-size:contain}div#bibi-veil-cover p{opacity:0}div#bibi-veil-cover.with-cover-image,div#bibi-veil-cover.without-cover-image{opacity:1}div#bibi-veil-cover.without-cover-image:before,div#bibi-veil-cover.without-cover-image p{display:block;position:absolute;margin:auto;left:-100%;top:-100%;right:-100%;bottom:-100%}div#bibi-veil-cover.without-cover-image:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:ElegantIcons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:"\e086";z-index:1;width:128px;height:128px;line-height:1;font-size:128px;text-align:center;vertical-align:middle;color:hsla(0,0%,100%,.25);transform:translateY(-25.6px)}div#bibi-veil-cover.without-cover-image p{z-index:2;width:100%;height:1.2em;line-height:1.2;font-size:14px;font-weight:700;color:#fff;text-align:center;text-shadow:0 0 4px gray;opacity:1;transform:translateY(-12.8px)}div#bibi-veil-cover.without-cover-image p em,div#bibi-veil-cover.without-cover-image p small,div#bibi-veil-cover.without-cover-image p span,div#bibi-veil-cover.without-cover-image p strong{display:block}div#bibi-veil-cover.without-cover-image p strong{margin-top:-1em;font-size:1.28571em;font-weight:700}div#bibi-veil-cover.without-cover-image p em{margin-top:.75em;font-size:1em}div#bibi-veil-cover.without-cover-image p small{margin-top:.75em;font-size:.85714em}div#bibi-veil-cover.without-cover-image p span{margin-top:.75em;font-size:.71429em}div#bibi-veil-cover.without-cover-image.waiting-for-unzipping p strong{font-size:1.71429em}div#bibi-veil-cover.without-cover-image.waiting-for-unzipping p small{color:#d8d8d8}p#bibi-veil-catcher{z-index:10;border:10px dashed hsla(0,0%,100%,.125);border-radius:30px;width:88%;height:80%;color:hsla(0,0%,100%,.67);transform:translateY(-2.5%);cursor:pointer;transition:.125s ease}p#bibi-veil-catcher,p#bibi-veil-catcher:before,p#bibi-veil-catcher>span{box-sizing:border-box;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto}p#bibi-veil-catcher:before,p#bibi-veil-catcher>span{display:block;vertical-align:middle;text-align:center}p#bibi-veil-catcher:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:ElegantIcons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;content:"\e022";width:128px;height:128px;line-height:128px;text-indent:.05em;font-size:128px;transform:translateY(-51.2px)}p#bibi-veil-catcher>span{width:100%;height:1.5em;transform:translateY(51.2px)}p#bibi-veil-catcher>span small,p#bibi-veil-catcher>span span,p#bibi-veil-catcher>span strong{display:block}p#bibi-veil-catcher>span strong{font-weight:700;font-size:18px}p#bibi-veil-catcher>span span{margin-top:.5em;font-size:16px}p#bibi-veil-catcher>span small{margin-top:.5em;font-size:14px}p#bibi-veil-catcher input{visibility:hidden}html.dragenter p#bibi-veil-catcher,p#bibi-veil-catcher:hover{transition:.2s ease;border-color:hsla(0,0%,100%,.5);color:#fff}p#bibi-veil-catcher:active:before{transform:translateY(-51.2px) scale(1.1);transition:.125s cubic-bezier(.2,.8,.8,1.6)}p#bibi-veil-play{display:none;box-sizing:border-box;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;z-index:10;width:100%;height:100%;cursor:pointer;background:transparent}html.waiting p#bibi-veil-play{display:block}p#bibi-veil-play,p#bibi-veil-play:before{transition:color .2s ease,background-color .2s ease,left .2s cubic-bezier(.2,.8,.8,1.6),right .2s cubic-bezier(.2,.8,.8,1.6),bottom .2s cubic-bezier(.2,.8,.8,1.6),transform .2s cubic-bezier(.2,.8,.8,1.6)}p#bibi-veil-play:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:ElegantIcons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;box-sizing:border-box;display:block;z-index:10;position:absolute;margin:auto;width:81px;height:81px;line-height:79.38px;text-align:center;vertical-align:middle;text-indent:-.05em;font-size:81px;color:hsla(0,0%,93%,.9)}p#bibi-veil-play:hover{background:rgba(0,0,0,.4)}p#bibi-veil-play:hover:before{color:#fff;transform:scale(1.1)}html.appearance-ttb p#bibi-veil-play:before{content:"\e044";bottom:8px;top:auto;left:0;right:0;transform-origin:50% 100%}html.appearance-ttb p#bibi-veil-play:active:before{bottom:-27px}html.appearance-rtl p#bibi-veil-play:before{content:"\e045";left:8px;right:auto;top:0;bottom:0;transform-origin:0 50%}html.appearance-rtl p#bibi-veil-play:active:before{left:-27px}html.appearance-ltr p#bibi-veil-play:before{content:"\e046";right:8px;left:auto;top:0;bottom:0;transform-origin:100% 50%}html.appearance-ltr p#bibi-veil-play:active:before{right:-27px}div#bibi-panel{box-sizing:border-box;overflow:hidden;z-index:1000;position:fixed;left:0;top:0;width:100%;height:100%;background:#f6f6f6;opacity:0;transition:.15s ease-out;transform:translateY(-100%)}html.panel-opened div#bibi-panel{transform:none;opacity:1;transition:.15s ease-in;-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}div#bibi-panel:after{content:"";box-sizing:border-box;display:block;position:absolute;z-index:2;left:0;right:0;bottom:0;margin:0 auto;padding:4px;border-style:solid;border-width:1px 0;width:100%;height:39px;border-color:#e8e8e8;background:hsla(0,0%,94%,.9)}html.page-rtl.panel-opened div#bibi-panel:after,html.view-horizontal div#bibi-panel:after{bottom:16px}html.panel-opened div#bibi-panel:after,html.subpanel-opened div#bibi-panel:after,html.veil-opened div#bibi-panel:after{bottom:0!important}div#bibi-panel-bookinfo{box-sizing:border-box;position:relative;z-index:1;width:100%;height:100%}div#bibi-panel-bookinfo-box{box-sizing:border-box;margin-top:39px;padding:20px 30px;width:100%;height:calc(100% - 39px);-webkit-overflow-scrolling:touch}html.Android div#bibi-panel-bookinfo-box,html.iOS div#bibi-panel-bookinfo-box{height:calc(100% - 78px)}html.Android.page-rtl div#bibi-panel-bookinfo-box,html.page-ltr div#bibi-panel-bookinfo-box{overflow-x:hidden;overflow-y:scroll;-webkit-writing-mode:horizontal-tb;-epub-writing-mode:horizontal-tb;-moz-writing-mode:horizontal-tb;-ms-writing-mode:horizontal-tb;writing-mode:horizontal-tb}html.page-rtl div#bibi-panel-bookinfo-box{overflow-x:scroll;overflow-y:hidden;-webkit-writing-mode:vertical-rl;-epub-writing-mode:vertical-rl;-moz-writing-mode:vertical-rl;-ms-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;writing-mode:vertical-rl}div#bibi-panel-bookinfo-navigation{box-sizing:border-box}html.page-rtl div#bibi-panel-bookinfo-navigation>:first-child,html.page-rtl div#bibi-panel-bookinfo-navigation>:first-child>:first-child,html.page-rtl div#bibi-panel-bookinfo-navigation>:first-child>:first-child>:first-child{margin-right:0!important}html.page-rtl div#bibi-panel-bookinfo-navigation span.tcy{-webkit-text-combine:horizontal;text-combine:horizontal;-ms-text-combine-horizontal:all;text-combine-horizontal:all;text-combine-upright:all}html.Android.page-rtl div#bibi-panel-bookinfo-navigation>:first-child,html.Android.page-rtl div#bibi-panel-bookinfo-navigation>:first-child>:first-child,html.Android.page-rtl div#bibi-panel-bookinfo-navigation>:first-child>:first-child>:first-child,html.page-ltr div#bibi-panel-bookinfo-navigation>:first-child,html.page-ltr div#bibi-panel-bookinfo-navigation>:first-child>:first-child,html.page-ltr div#bibi-panel-bookinfo-navigation>:first-child>:first-child>:first-child{margin-top:0!important}div#bibi-panel-bookinfo-navigation nav{line-height:1.2;font-size:20px}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav,html.page-ltr div#bibi-panel-bookinfo-navigation nav{margin:2em 0 1em}html.page-rtl div#bibi-panel-bookinfo-navigation nav{margin:0 2em 0 1em}div#bibi-panel-bookinfo-navigation nav h1,div#bibi-panel-bookinfo-navigation nav h2,div#bibi-panel-bookinfo-navigation nav h3,div#bibi-panel-bookinfo-navigation nav h4,div#bibi-panel-bookinfo-navigation nav h5,div#bibi-panel-bookinfo-navigation nav h6{font-weight:700}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav h1,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav h2,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav h3,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav h4,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav h5,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav h6,html.page-ltr div#bibi-panel-bookinfo-navigation nav h1,html.page-ltr div#bibi-panel-bookinfo-navigation nav h2,html.page-ltr div#bibi-panel-bookinfo-navigation nav h3,html.page-ltr div#bibi-panel-bookinfo-navigation nav h4,html.page-ltr div#bibi-panel-bookinfo-navigation nav h5,html.page-ltr div#bibi-panel-bookinfo-navigation nav h6{margin:0 0 1em}html.page-rtl div#bibi-panel-bookinfo-navigation nav h1,html.page-rtl div#bibi-panel-bookinfo-navigation nav h2,html.page-rtl div#bibi-panel-bookinfo-navigation nav h3,html.page-rtl div#bibi-panel-bookinfo-navigation nav h4,html.page-rtl div#bibi-panel-bookinfo-navigation nav h5,html.page-rtl div#bibi-panel-bookinfo-navigation nav h6{margin:0 0 0 1em}div#bibi-panel-bookinfo-navigation nav small{font-size:.8em}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav br+small,html.page-ltr div#bibi-panel-bookinfo-navigation nav br+small{margin:0 0 0 2em}html.page-rtl div#bibi-panel-bookinfo-navigation nav br+small{margin:2em 0 0}div#bibi-panel-bookinfo-navigation nav ol,div#bibi-panel-bookinfo-navigation nav ul{font-size:.9em}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul{margin:0 0 1em}html.page-rtl div#bibi-panel-bookinfo-navigation nav ol,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul{margin:0 0 0 1em}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li{margin:1em 0 0}html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li{margin:0 1em 0 0}div#bibi-panel-bookinfo-navigation nav ol li ol,div#bibi-panel-bookinfo-navigation nav ol li ul,div#bibi-panel-bookinfo-navigation nav ul li ol,div#bibi-panel-bookinfo-navigation nav ul li ul{position:relative}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ol,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ul,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ol,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ul,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li ol,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li ul,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li ol,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li ul,html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ol,html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ul,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ol,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ul{margin:0}div#bibi-panel-bookinfo-navigation nav ol li ol:before,div#bibi-panel-bookinfo-navigation nav ol li ul:before,div#bibi-panel-bookinfo-navigation nav ul li ol:before,div#bibi-panel-bookinfo-navigation nav ul li ul:before{content:"";display:block;position:absolute;background:#fff}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ol:before,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ul:before,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ol:before,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ul:before,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li ol:before,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li ul:before,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li ol:before,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li ul:before{left:.175em;top:0;width:4px;height:100%}html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ol:before,html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ul:before,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ol:before,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ul:before{top:.175em;right:0;width:100%;height:4px}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ol li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ul li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ol li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ul li,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li ol li,html.page-ltr div#bibi-panel-bookinfo-navigation nav ol li ul li,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li ol li,html.page-ltr div#bibi-panel-bookinfo-navigation nav ul li ul li{margin:.5em 0 0 1em}html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ol li,html.page-rtl div#bibi-panel-bookinfo-navigation nav ol li ul li,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ol li,html.page-rtl div#bibi-panel-bookinfo-navigation nav ul li ul li{margin:1em .5em 0 0}div#bibi-panel-bookinfo-navigation nav a{border:solid #d8d8d8;color:#404040;text-decoration:none;transition:.15s linear}html.page-rtl div#bibi-panel-bookinfo-navigation nav a{border-width:0 1px 0 0;padding-right:.1em}html.page-ltr div#bibi-panel-bookinfo-navigation nav a{border-width:0 0 1px;padding-bottom:.1em}div#bibi-panel-bookinfo-navigation nav a:hover{border-color:#4682b4;color:#4682b4;transition:none}div#bibi-panel-bookinfo-navigation nav a.bibi-bookinfo-inactive-link{color:inherit!important;border:0 none!important;cursor:default!important}div#bibi-panel-bookinfo-navigation nav a.bibi-bookinfo-inactive-link:hover{color:inherit!important}div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks,div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list{font-size:16px}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h1,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h2,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h3,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h4,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h5,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h6,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h1,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h2,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h3,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h4,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h5,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h6,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h1,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h2,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h3,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h4,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h5,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h6,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h1,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h2,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h3,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h4,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h5,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h6{margin:0 0 .25em}html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h1,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h2,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h3,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h4,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h5,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks h6,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h1,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h2,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h3,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h4,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h5,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list h6{margin:0 0 0 .25em}div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol,div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul,div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol,div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul{overflow:hidden}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul{padding:0 0 .25em}html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul{padding:0 0 0 .25em}div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li,div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li,div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li,div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li{float:left}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li{padding:0 1em 0 0}html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li:last-child,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li:last-child,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li:last-child,html.Android.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li:last-child,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li:last-child,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li:last-child,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li:last-child,html.page-ltr div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li:last-child{padding:0}html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li{padding:0 0 1em}html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ol li:last-child,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-landmarks ul li:last-child,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ol li:last-child,html.page-rtl div#bibi-panel-bookinfo-navigation nav.bibi-nav-page-list ul li:last-child{padding:0}div#bibi-panel-bookinfo-cover{border:0 solid #e8e8e8}html.Android.page-rtl div#bibi-panel-bookinfo-cover,html.page-ltr div#bibi-panel-bookinfo-cover{margin:2em 30px 0 0;padding:2em 0;border-width:1px 0 0}html.page-rtl div#bibi-panel-bookinfo-cover{margin:0 2em 30px 0;padding:0 2em;border-width:0 1px 0 0}div#bibi-panel-bookinfo-cover img{max-width:40%;max-width:40vw;max-height:40%;max-height:40vh}html.Android.page-rtl div#bibi-panel-bookinfo-cover img,html.page-ltr div#bibi-panel-bookinfo-cover img{margin:0 0 .75em}html.page-rtl div#bibi-panel-bookinfo-cover img{margin:0 0 0 .75em}div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info{color:#a0a0a0}div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info em,div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info span,div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info strong{display:block;line-height:1.2}html.Android.page-rtl div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info em,html.Android.page-rtl div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info span,html.Android.page-rtl div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info strong,html.page-ltr div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info em,html.page-ltr div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info span,html.page-ltr div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info strong{margin:0 0 .5rem}html.page-rtl div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info em,html.page-rtl div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info span,html.page-rtl div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info strong{margin:0 0 0 .5rem}div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info strong{font-size:16px;font-weight:700}div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info em{font-size:14px}div#bibi-panel-bookinfo-cover p#bibi-panel-bookinfo-cover-info span{font-size:12px}div#bibi-shade{display:none;position:fixed;z-index:1000;left:0;right:0;top:0;bottom:0;margin:0;width:100%;height:100%;background:#000;opacity:0;transition:.15s ease}html.shade-opened div#bibi-shade{display:block}html.shade-opened.shade-visible div#bibi-shade{opacity:.33}div.bibi-subpanel,div.bibi-subpanel span.bibi-subpanel-bit{box-sizing:border-box;opacity:.25;transform:translateY(-8px) scale(0);transition:transform .15s ease-out}div.bibi-subpanel{position:fixed;z-index:1002;right:4px;top:43px;margin:auto;width:calc(100% - 8px);max-width:312px;max-height:calc(100% - 47px);border-radius:4px;background:hsla(0,0%,99%,.96);overflow:auto;-webkit-overflow-scrolling:touch}div.bibi-subpanel::-webkit-scrollbar{height:6px;width:6px}div.bibi-subpanel::-webkit-scrollbar-track{background:#f8f8f8}div.bibi-subpanel::-webkit-scrollbar-thumb{border-radius:3px;border:2px solid #f8f8f8;background:gray}div.bibi-subpanel::-webkit-scrollbar-thumb:hover{background:#606060}div.bibi-subpanel::-webkit-scrollbar-thumb:active{background:silver}div.bibi-subpanel span.bibi-subpanel-bit{position:absolute;top:-12px;left:0;margin-left:-6px;display:block;width:0;height:0;border:6px solid transparent;border-bottom-color:hsla(0,0%,99%,.96);transform-origin:50% 0}div.bibi-subpanel.opened,div.bibi-subpanel.opened span.bibi-subpanel-bit{opacity:1;transform:none;transition:transform .2s cubic-bezier(.2,.8,.8,1.1)}div.bibi-subpanel.opened{box-shadow:0 2px 2px rgba(0,0,0,.1)}.bibi-subpanel-section{margin:16px 0}.bibi-subpanel-section strong{font-weight:700}.bibi-subpanel-section .bibi-button,.bibi-subpanel-section .bibi-buttonbox,.bibi-subpanel-section .bibi-h,.bibi-subpanel-section .bibi-h-label,.bibi-subpanel-section .bibi-p{display:block;box-sizing:border-box}.bibi-subpanel-section .bibi-button,.bibi-subpanel-section .bibi-h{padding-left:8px;padding-right:8px}.bibi-subpanel-section .bibi-p{padding-left:10px;padding-right:8px}.bibi-subpanel-section a.bibi-button{text-decoration:none}.bibi-subpanel-section .bibi-h-label{padding-bottom:6px;line-height:1.2;font-size:12px;font-weight:700;color:#404040}.bibi-subpanel-section .bibi-h-label>small{display:block;position:relative;overflow:hidden;padding:.2em 0 0 .9em;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;font-size:10px;color:gray}.bibi-subpanel-section .bibi-h-label>small:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;position:absolute;left:.2em;top:.25em;content:"\f105";color:#a0a0a0}.bibi-subpanel-section .bibi-pgroup{border:0 solid rgba(0,0,0,.1);overflow:hidden;color:#404040;background:#fff}.bibi-subpanel-section .bibi-pgroup.bibi-pgroup_before{border-top-width:1px}.bibi-subpanel-section .bibi-pgroup.bibi-pgroup_after{border-bottom-width:1px}.bibi-subpanel-section .bibi-p{margin:4px 0 0;line-height:1.4;font-size:12px;text-align:justify}.bibi-subpanel-section .bibi-p:first-child{margin-top:8px}.bibi-subpanel-section .bibi-p:last-child{margin-bottom:6px}.bibi-subpanel-section .bibi-p small{font-size:10px}.bibi-subpanel-section .bibi-p .code{font-size:12px;font-family:monospace;word-break:break-all;color:#606060}.bibi-subpanel-section .bibi-p .block{box-sizing:border-box;display:block;width:100%}.bibi-subpanel-section .bibi-p input.block{border:1px solid #eaeaea;padding:.5em}.bibi-subpanel-section .bibi-p strong{font-weight:700}.bibi-subpanel-section .bibi-p em{background:rgba(0,0,0,.075)}.bibi-subpanel-section .bibi-buttongroup{border:solid rgba(0,0,0,.1);border-width:1px 0;overflow:hidden}.bibi-subpanel-section .bibi-buttonbox{line-height:1.2;font-size:14px}.bibi-subpanel-section .bibi-button{position:relative;z-index:1;margin:-1px 0;border:solid rgba(0,0,0,.1);border-width:1px 0;min-height:39px;color:#404040;background:#fff}.bibi-subpanel-section .bibi-button.bibi-button-radio{border-style:dashed}.bibi-subpanel-section .bibi-button .bibi-button-iconbox,.bibi-subpanel-section .bibi-button .bibi-button-label{display:inline-block;vertical-align:top}.bibi-subpanel-section .bibi-button .bibi-button-iconbox{margin-top:9px;margin-right:6px}.bibi-subpanel-section .bibi-button .bibi-button-label{margin-top:12px;font-size:13px;line-height:1.2}.bibi-subpanel-section .bibi-button .bibi-button-label small{font-size:.875em}.bibi-subpanel-section .bibi-button:after,.bibi-subpanel-section .bibi-button:before{display:block;position:absolute}.bibi-subpanel-section .bibi-button:before{content:"";z-index:10;top:0;right:0;bottom:0;left:0;width:100%;height:100%}.bibi-subpanel-section .bibi-button:after{z-index:1;display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:FontAwesome;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;left:auto;right:8px;top:0;bottom:0;margin:auto;height:.9em;line-height:1;text-align:right;color:#a0a0a0;transition:.2s ease-in-out}.bibi-subpanel-section .bibi-button.bibi-button-toggle.active.hover,.bibi-subpanel-section .bibi-button.bibi-button-toggle.active:hover,.bibi-subpanel-section .bibi-button.default.hover,.bibi-subpanel-section .bibi-button.default:hover{border-style:solid;border-color:rgba(45,132,205,.1);background:rgba(244,248,252,.8);cursor:pointer;color:#2d84cd;z-index:2}.bibi-subpanel-section .bibi-button.bibi-button-toggle.active.hover:after,.bibi-subpanel-section .bibi-button.bibi-button-toggle.active:hover:after,.bibi-subpanel-section .bibi-button.default.hover:after,.bibi-subpanel-section .bibi-button.default:hover:after{color:#2d84cd}.bibi-subpanel-section .bibi-button.disabled .bibi-button-iconbox,.bibi-subpanel-section .bibi-button.disabled .bibi-button-label,.bibi-subpanel-section .bibi-button.disabled.hover .bibi-button-iconbox,.bibi-subpanel-section .bibi-button.disabled.hover .bibi-button-label,.bibi-subpanel-section .bibi-button.disabled:hover .bibi-button-iconbox,.bibi-subpanel-section .bibi-button.disabled:hover .bibi-button-label{opacity:.5!important}.bibi-subpanel-section .bibi-button-link:after{content:"\f105";text-align:center}.bibi-subpanel-section .bibi-button-radio:after,.bibi-subpanel-section .bibi-button-toggle:after{color:#a0a0a0}.bibi-subpanel-section .bibi-button-radio.active .bibi-button-label,.bibi-subpanel-section .bibi-button-toggle.active .bibi-button-label{font-weight:700}.bibi-subpanel-section .bibi-button-radio.active:after,.bibi-subpanel-section .bibi-button-toggle.active:after{color:#2d84cd}.bibi-subpanel-section .bibi-button-toggle:after{margin-right:-.1em;font-size:1.2em;content:"\f204"}.bibi-subpanel-section .bibi-button-toggle.active:after{content:"\f205"}.bibi-subpanel-section .bibi-button-radio:after{content:"\f1db"}.bibi-subpanel-section .bibi-button-radio.active:after{margin-right:-.1em;font-size:1.2em;content:"\f058"}.bibi-subpanel-section .bibi-buttongroup-tiled{display:-ms-flexbox;display:flex;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:center;align-content:center;-ms-flex:auto;flex:auto;width:100%}.bibi-subpanel-section .bibi-buttongroup-tiled .bibi-buttonbox{width:100%;margin:0}.bibi-subpanel-section .bibi-buttongroup-tiled .bibi-buttonbox .bibi-button{margin:0 -1px;border-width:0 1px;padding-right:4px}.bibi-subpanel-section .bibi-buttongroup-tiled .bibi-buttonbox .bibi-button .bibi-button-label{margin-top:12.5px;font-size:12px}.bibi-subpanel-section .bibi-buttongroup-tiled .bibi-buttonbox .bibi-button-link:after{text-align:right}div#bibi-menu{box-sizing:border-box;position:fixed;z-index:1001;left:0;right:auto;top:0;bottom:auto;border-bottom:1px solid hsla(0,0%,50%,.1);height:39px;width:100%;background:hsla(0,0%,100%,.9)}html.without-menubar div#bibi-menu{display:none!important}html.waiting-file div#bibi-menu{display:none}html.book-full-height div#bibi-menu{border-bottom-color:hsla(0,0%,50%,0);background-color:hsla(0,0%,100%,0)}html.book-full-height.menu-fixed div#bibi-menu,html.book-full-height.menu-opened div#bibi-menu,html.book-full-height div#bibi-menu.hover{border-bottom-color:hsla(0,0%,50%,.1);background-color:hsla(0,0%,100%,.9)}html.veil-opened div#bibi-menu{border-bottom-color:hsla(0,0%,50%,0);background-color:hsla(0,0%,100%,0)}html.panel-opened div#bibi-menu,html.subpanel-opened div#bibi-menu{border-bottom-color:hsla(0,0%,50%,.1);background-color:#fff}div#bibi-menu,div#bibi-menu ul{transition:.125s linear}html.slider-opened.view-vertical div#bibi-menu{width:calc(100% - 78px)}html.view-vertical.slider-opened.panel-opened div#bibi-menu,html.view-vertical.slider-opened.subpanel-opened div#bibi-menu{width:100%;padding-right:78px}div#bibi-menu-l,div#bibi-menu-r{position:relative;z-index:1;box-sizing:border-box;height:100%;color:#fff;transition:opacity .75s linear}div#bibi-menu-l ul,div#bibi-menu-r ul{position:relative;padding:4px;height:31px;opacity:0}div#bibi-menu-l ul.sticky,div#bibi-menu-r ul.sticky{opacity:.5}div#bibi-menu-l ul:before,div#bibi-menu-r ul:before{content:"";display:block;position:absolute;top:4px;width:1px;height:31px;background:hsla(0,0%,85%,.5)}div#bibi-menu-l ul li,div#bibi-menu-r ul li{width:31px;height:31px}div#bibi-menu-l ul li .bibi-button,div#bibi-menu-r ul li .bibi-button{position:relative;z-index:1}div#bibi-menu-l ul li .bibi-button.active,div#bibi-menu-l ul li .bibi-button.hover,div#bibi-menu-r ul li .bibi-button.active,div#bibi-menu-r ul li .bibi-button.hover{z-index:10}div#bibi-menu-l ul li .bibi-button span.bibi-button-label,div#bibi-menu-r ul li .bibi-button span.bibi-button-label{font-size:0;color:transparent}div#bibi-menu.hot div#bibi-menu-l ul,div#bibi-menu.hot div#bibi-menu-r ul,div#bibi-menu.hover div#bibi-menu-l ul,div#bibi-menu.hover div#bibi-menu-r ul,html.menu-opened div#bibi-menu-l ul,html.menu-opened div#bibi-menu-r ul,html.panel-opened div#bibi-menu-l ul,html.panel-opened div#bibi-menu-r ul,html.subpanel-opened div#bibi-menu-l ul,html.subpanel-opened div#bibi-menu-r ul{opacity:1}div#bibi-menu-l ul.bibi-buttongroup-tiled li:not(:first-child):not(:last-child) .bibi-button .bibi-button-iconbox .bibi-icon,div#bibi-menu-r ul.bibi-buttongroup-tiled li:not(:first-child):not(:last-child) .bibi-button .bibi-button-iconbox .bibi-icon{border-radius:0}div#bibi-menu-l{float:left}div#bibi-menu-l ul{float:left;padding-left:5px}div#bibi-menu-l ul:before{left:0}div#bibi-menu-l ul:first-child{padding-left:4px}div#bibi-menu-l ul:first-child:before{display:none}div#bibi-menu-l ul li{float:left;margin-left:2px}div#bibi-menu-l ul li:first-child{margin-left:0}div#bibi-menu-l ul.bibi-buttongroup-tiled li{margin-left:-1px}div#bibi-menu-l ul.bibi-buttongroup-tiled li:first-child .bibi-button .bibi-button-iconbox .bibi-icon{border-top-right-radius:0;border-bottom-right-radius:0}div#bibi-menu-l ul.bibi-buttongroup-tiled li:last-child .bibi-button .bibi-button-iconbox .bibi-icon{border-top-left-radius:0;border-bottom-left-radius:0}div#bibi-menu-r{float:right}div#bibi-menu-r ul{float:right;padding-right:5px}div#bibi-menu-r ul:before{right:0}div#bibi-menu-r ul:first-child{padding-right:4px}div#bibi-menu-r ul:first-child:before{display:none}div#bibi-menu-r ul li{float:right;margin-right:2px}div#bibi-menu-r ul li:first-child{margin-right:0}div#bibi-menu-r ul.bibi-buttongroup-tiled li{margin-right:-1px}div#bibi-menu-r ul.bibi-buttongroup-tiled li:first-child .bibi-button .bibi-button-iconbox .bibi-icon{border-top-left-radius:0;border-bottom-left-radius:0}div#bibi-menu-r ul.bibi-buttongroup-tiled li:last-child .bibi-button .bibi-button-iconbox .bibi-icon{border-top-right-radius:0;border-bottom-right-radius:0}div#bibi-help{box-sizing:border-box;display:none;position:fixed;z-index:1001;margin:0;border-top:1px solid #f0f0f0;padding:0 8px 0 56px;width:100%;height:39px;left:0;bottom:0;opacity:0;transition:.2s linear;background:hsla(0,0%,94%,.96)}html.page-rtl.panel-opened div#bibi-help,html.view-horizontal div#bibi-help{bottom:16px}html.panel-opened div#bibi-help,html.subpanel-opened div#bibi-help,html.veil-opened div#bibi-help{bottom:0!important}html.slider-opened.view-horizontal div#bibi-help,html.slider-opened.view-paged div#bibi-help{bottom:78px!important}div#bibi-help p{line-height:42.9px;text-align:right;font-size:12px;font-weight:700;color:#606060}div#bibi-help p small{font-size:.875em}div#bibi-help.active{display:block}div#bibi-help.active.shown{opacity:1}div#bibi-poweredby{box-sizing:border-box;display:none;position:fixed;z-index:1001;top:auto;right:0;bottom:0;left:0;margin:0 auto;padding:4px;height:39px;text-align:right;font-size:14px;transition:.1s linear;transform:scale(0)}html.panel-opened div#bibi-poweredby,html.waiting-file div#bibi-poweredby,html.waiting div#bibi-poweredby{transform:none}html.page-rtl.panel-opened div#bibi-poweredby,html.view-horizontal div#bibi-poweredby{bottom:16px}html.panel-opened div#bibi-poweredby,html.subpanel-opened div#bibi-poweredby,html.veil-opened div#bibi-poweredby{bottom:0!important}div#bibi-poweredby p a{display:block;position:relative;top:3.5px;text-decoration:none;color:#000;padding:4px 8px;width:32px;height:16px;border-radius:2px;transition:.2s linear}div#bibi-poweredby p a img,div#bibi-poweredby p a span{position:absolute;display:block;opacity:0}div#bibi-poweredby p a span{overflow:hidden;width:0;height:0}div#bibi-poweredby p a img{left:0;right:0;top:6px;bottom:auto;margin:0 auto;width:auto;height:16px;vertical-align:top;transition:.2s linear}div#bibi-poweredby p a:hover,div#bibi-poweredby p a:hover img{transition:75ms linear}html.waiting-file div#bibi-poweredby p a,html.waiting div#bibi-poweredby p a{background:hsla(0,0%,50%,.5)}html.waiting-file div#bibi-poweredby p a img.bibi-logo-white,html.waiting div#bibi-poweredby p a img.bibi-logo-white{opacity:1}html.waiting-file div#bibi-poweredby p a:hover,html.waiting div#bibi-poweredby p a:hover{background:hsla(0,0%,63%,.9)}html.waiting-file div#bibi-poweredby p a:hover img.bibi-logo-white,html.waiting div#bibi-poweredby p a:hover img.bibi-logo-white{opacity:1;}html.panel-opened div#bibi-poweredby p a{background:transparent}html.panel-opened div#bibi-poweredby p a img.bibi-logo-white{opacity:0}html.panel-opened div#bibi-poweredby p a img.bibi-logo-black{opacity:.5}html.panel-opened div#bibi-poweredby p a:hover{background:transparent}html.panel-opened div#bibi-poweredby p a:hover img.bibi-logo-white{opacity:0}html.panel-opened div#bibi-poweredby p a:hover img.bibi-logo-black{opacity:1}div#bibi-nombre{box-sizing:border-box;overflow:hidden;position:fixed;z-index:2;margin:auto;border-radius:10px;width:120px;height:20px;line-height:20px;font-size:12px;text-align:center;color:#404040;background:#f0f0f0;opacity:0;transition:.125s ease-out}html.view-horizontal div#bibi-nombre,html.view-paged div#bibi-nombre{top:auto;left:-100%;right:-100%}html.view-paged div#bibi-nombre{bottom:2px}html.view-horizontal div#bibi-nombre{bottom:18px}html.view-vertical div#bibi-nombre{top:-100%;bottom:-100%;left:auto;right:18px;transform:rotate(90deg) translateY(-50px)}html.slider-opened.view-horizontal div#bibi-nombre,html.slider-opened.view-paged div#bibi-nombre{bottom:80px!important}html.slider-opened.view-vertical div#bibi-nombre{right:80px!important}div#bibi-nombre{display:none}div#bibi-nombre.active{display:block}div#bibi-nombre.hot{opacity:1;transition:.125s ease-out}div#bibi-nombre span{display:inline-block}span#bibi-nombre-current{font-size:1.2em;font-weight:700;color:#000}span#bibi-nombre-delimiter{margin:0 .1em 0 .2em}span#bibi-nombre-percent{margin-left:.25em;color:gray}span#bibi-nombre-percent span.unit{margin-left:.125em;font-size:.75em}div#bibi-slider{position:relative;box-sizing:border-box;display:block;overflow:hidden;position:fixed;z-index:11;border:0 solid #e8e8e8;background:#fff;cursor:pointer}div#bibi-slider,div#bibi-slider #bibi-slider-currentpagebits:after,div#bibi-slider #bibi-slider-currentpagebits:before{transition:.1s linear}html.slider-sliding div#bibi-slider,html.slider-sliding div#bibi-slider #bibi-slider-currentpagebits:after,html.slider-sliding div#bibi-slider #bibi-slider-currentpagebits:before{transition:none}html.view-horizontal div#bibi-slider,html.view-paged div#bibi-slider{top:auto;right:0;bottom:0;left:0;width:100%;height:16px}html.view-vertical div#bibi-slider{top:auto;right:0;bottom:0;left:auto;width:16px;height:100%}html.view-horizontal div#bibi-slider,html.view-paged div#bibi-slider{border-top-width:1px}html.view-vertical div#bibi-slider{border-left-width:1px}html.slider-opened div#bibi-slider{background:hsla(0,0%,100%,.96)}html.slider-opened div#bibi-slider:before{content:"";display:block;position:absolute;margin:0;width:0;height:0;border:0 dotted rgba(64,64,64,.125)}html.slider-opened.view-horizontal div#bibi-slider,html.slider-opened.view-paged div#bibi-slider{height:78px!important}html.slider-opened.view-horizontal div#bibi-slider:before,html.slider-opened.view-paged div#bibi-slider:before{top:50%;right:0;bottom:auto;left:0;width:100%;border-top-width:1px;transform:translateY(-.5px)}html.slider-opened.view-vertical div#bibi-slider{width:78px!important}html.slider-opened.view-vertical div#bibi-slider:before{top:0;right:auto;bottom:0;left:50%;height:100%;border-left-width:1px;transform:translateX(-.5px)}div#bibi-slider-currentpages div,div#bibi-slider-pages div,div#bibi-slider-spreads div{box-sizing:border-box;display:block;position:absolute}html.view-horizontal div#bibi-slider-currentpages div,html.view-horizontal div#bibi-slider-pages div,html.view-horizontal div#bibi-slider-spreads div,html.view-paged div#bibi-slider-currentpages div,html.view-paged div#bibi-slider-pages div,html.view-paged div#bibi-slider-spreads div{top:auto;right:auto;bottom:0;left:auto;height:100%}html.view-vertical div#bibi-slider-currentpages div,html.view-vertical div#bibi-slider-pages div,html.view-vertical div#bibi-slider-spreads div{top:auto;right:0;bottom:auto;left:auto;width:100%}div#bibi-slider-spreads div{z-index:1}div#bibi-slider-spreads div:before{content:"";display:block;position:absolute;margin:auto;border-radius:1px;background:rgba(64,64,64,.25);opacity:0}html.view-horizontal div#bibi-slider-spreads div:before,html.view-paged div#bibi-slider-spreads div:before{top:0;right:auto;bottom:0;left:auto;width:1px;height:4px}html.view-vertical div#bibi-slider-spreads div:before{top:auto;right:0;bottom:auto;left:0;width:4px;height:1px}html.appearance-ltr div#bibi-slider-spreads div:before{left:-.5px}html.appearance-rtl div#bibi-slider-spreads div:before{right:-.5px}html.appearance-ttb div#bibi-slider-spreads div:before{top:-.5px}html.slider-opened.view-horizontal div#bibi-slider-spreads div:before,html.slider-opened.view-paged div#bibi-slider-spreads div:before{height:8px}html.slider-opened.view-vertical div#bibi-slider-spreads div:before{width:8px}html.slider-opened div#bibi-slider-spreads div:before{opacity:1}div#bibi-slider-spreads div:first-child:before{display:none}div#bibi-slider-pages div{z-index:2}div#bibi-slider-pages div:before{content:"";box-sizing:border-box;display:block;position:absolute;margin:auto;border:1px solid;border-radius:4px;border-color:transparent;background:transparent}html.view-horizontal div#bibi-slider-pages div:before,html.view-paged div#bibi-slider-pages div:before{top:0;right:auto;bottom:0;left:auto;width:100%;height:8px}html.view-vertical div#bibi-slider-pages div:before{top:auto;right:0;bottom:auto;left:0;width:8px;height:100%}html.slider-opened div#bibi-slider-pages div:before{border-radius:2px}html.view-horizontal.slider-opened div#bibi-slider-pages div:before,html.view-paged.slider-opened div#bibi-slider-pages div:before{height:70px}html.view-vertical.slider-opened div#bibi-slider-pages div:before{width:70px}div#bibi-slider-pages div.hover:before{border-color:rgba(96,96,96,.4);background:hsla(0,0%,100%,.5)}html.slider-sliding div#bibi-slider-pages div.hover:before{border-color:transparent!important;background:transparent!important}div#bibi-slider-currentpagebits{z-index:3;cursor:pointer}div#bibi-slider-currentpagebits:after,div#bibi-slider-currentpagebits:before{content:"";box-sizing:border-box;display:block;position:absolute;margin:auto;border:1px solid;border-radius:4px;border-color:#404040;background:#404040}html.view-horizontal div#bibi-slider-currentpagebits:after,html.view-horizontal div#bibi-slider-currentpagebits:before,html.view-paged div#bibi-slider-currentpagebits:after,html.view-paged div#bibi-slider-currentpagebits:before{top:0;right:auto;bottom:0;left:auto;width:100%;height:8px}html.view-vertical div#bibi-slider-currentpagebits:after,html.view-vertical div#bibi-slider-currentpagebits:before{top:auto;right:0;bottom:auto;left:0;width:8px;height:100%}html.slider-opened div#bibi-slider-currentpagebits:after,html.slider-opened div#bibi-slider-currentpagebits:before{border-radius:2px}html.view-horizontal.slider-opened div#bibi-slider-currentpagebits:after,html.view-horizontal.slider-opened div#bibi-slider-currentpagebits:before,html.view-paged.slider-opened div#bibi-slider-currentpagebits:after,html.view-paged.slider-opened div#bibi-slider-currentpagebits:before{height:70px}html.view-vertical.slider-opened div#bibi-slider-currentpagebits:after,html.view-vertical.slider-opened div#bibi-slider-currentpagebits:before{width:70px}html.slider-opened div#bibi-slider-currentpagebits:after,html.slider-opened div#bibi-slider-currentpagebits:before{background:rgba(64,64,64,.5)}div#bibi-slider-currentpagebits.hover:after,div#bibi-slider-currentpagebits.hover:before{border-color:#606060!important;background:rgba(96,96,96,.5)!important}div#bibi-slider-currentpagebits.active:after,div#bibi-slider-currentpagebits.active:before,div#bibi-slider-currentpagebits:active:after,div#bibi-slider-currentpagebits:active:before{border-color:silver!important;background:hsla(0,0%,75%,.5)!important}html.slider-opened div#bibi-slider-currentpagebits.two-pages:after{content:"";display:block}html.slider-opened.view-horizontal div#bibi-slider-currentpagebits.two-pages:after,html.slider-opened.view-horizontal div#bibi-slider-currentpagebits.two-pages:before,html.slider-opened.view-paged div#bibi-slider-currentpagebits.two-pages:after,html.slider-opened.view-paged div#bibi-slider-currentpagebits.two-pages:before{width:50%}html.slider-opened.view-vertical div#bibi-slider-currentpagebits.two-pages:after,html.slider-opened.view-vertical div#bibi-slider-currentpagebits.two-pages:before{height:50%}html.view-horizontal.page-ltr div#bibi-slider-currentpagebits.two-pages:before,html.view-horizontal.page-rtl div#bibi-slider-currentpagebits.two-pages:after,html.view-paged.page-ltr div#bibi-slider-currentpagebits.two-pages:before,html.view-paged.page-rtl div#bibi-slider-currentpagebits.two-pages:after{left:0}html.view-horizontal.page-ltr div#bibi-slider-currentpagebits.two-pages:after,html.view-horizontal.page-rtl div#bibi-slider-currentpagebits.two-pages:before,html.view-paged.page-ltr div#bibi-slider-currentpagebits.two-pages:after,html.view-paged.page-rtl div#bibi-slider-currentpagebits.two-pages:before{right:0}html.view-vertical.page-ltr div#bibi-slider-currentpagebits.two-pages:after{top:0}html.view-vertical.page-rtl div#bibi-slider-currentpagebits.two-pages:after{bottom:0}html.slider-opened.page-ltr div#bibi-slider-currentpagebits.two-pages:before,html.slider-opened.page-rtl div#bibi-slider-currentpagebits.two-pages:after{border-top-right-radius:0;border-bottom-right-radius:0}html.slider-opened.page-ltr div#bibi-slider-currentpagebits.two-pages:after,html.slider-opened.page-rtl div#bibi-slider-currentpagebits.two-pages:before{border-top-left-radius:0;border-bottom-left-radius:0}div#bibi-arrow-back,div#bibi-arrow-forward{display:none;position:fixed;z-index:1001;margin:auto;line-height:1}html.arrows-active div#bibi-arrow-back,html.arrows-active div#bibi-arrow-forward{display:block}div#bibi-arrow-back:after,div#bibi-arrow-back:before,div#bibi-arrow-forward:after,div#bibi-arrow-forward:before{box-sizing:border-box;display:block;position:absolute}div#bibi-arrow-back:before,div#bibi-arrow-forward:before{display:inline-block;direction:ltr;letter-spacing:normal;text-transform:none;text-rendering:optimizeLegibility;white-space:nowrap;word-wrap:normal;font-family:ElegantIcons;font-style:normal;font-weight:400;font-variant:normal;-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga",normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;z-index:2;margin:auto;width:39px;height:39px;text-align:center;vertical-align:middle;line-height:37.44px;text-indent:-.05em;font-size:39px;border-radius:50%;color:#fff;background:#000}div#bibi-arrow-back:after,div#bibi-arrow-forward:after{content:"";z-index:1}html.appearance-ttb div#bibi-arrow-back,html.appearance-ttb div#bibi-arrow-forward{left:0;right:0;width:100%;width:100vw;height:0}html.appearance-ttb div#bibi-arrow-back:before,html.appearance-ttb div#bibi-arrow-forward:before{left:0;right:0}html.appearance-ttb div#bibi-arrow-back:after,html.appearance-ttb div#bibi-arrow-forward:after{left:0;right:0;width:100%;height:39px}html.appearance-ltr div#bibi-arrow-back,html.appearance-ltr div#bibi-arrow-forward,html.appearance-rtl div#bibi-arrow-back,html.appearance-rtl div#bibi-arrow-forward{top:0;bottom:0;width:0;height:100%;height:100vh}html.appearance-ltr div#bibi-arrow-back:before,html.appearance-ltr div#bibi-arrow-forward:before,html.appearance-rtl div#bibi-arrow-back:before,html.appearance-rtl div#bibi-arrow-forward:before{top:0;bottom:0}html.appearance-ltr div#bibi-arrow-back:after,html.appearance-ltr div#bibi-arrow-forward:after,html.appearance-rtl div#bibi-arrow-back:after,html.appearance-rtl div#bibi-arrow-forward:after{top:0;bottom:0;width:39px;height:100%}html.busy div#bibi-arrow-back:after,html.busy div#bibi-arrow-back:before,html.busy div#bibi-arrow-forward:after,html.busy div#bibi-arrow-forward:before{transition:none!important;opacity:0!important}div#bibi-arrow-back:after,div#bibi-arrow-back:before,div#bibi-arrow-forward:after,div#bibi-arrow-forward:before{transition-duration:.4s}div#bibi-arrow-back:before,div#bibi-arrow-forward:before{opacity:0;transform:scale(1);transition-timing-function:cubic-bezier(.2,.8,.8,1.6)}div#bibi-arrow-back:after,div#bibi-arrow-forward:after{opacity:1;transition-timing-function:ease-out}div#bibi-arrow-back.available.hover,div#bibi-arrow-forward.available.hover{cursor:pointer}div#bibi-arrow-back.available.hover:after,div#bibi-arrow-back.available.hover:before,div#bibi-arrow-forward.available.hover:after,div#bibi-arrow-forward.available.hover:before{transition-duration:.2s}div#bibi-arrow-back.available.hover:before,div#bibi-arrow-forward.available.hover:before{transform:scale(1.1);opacity:1}div#bibi-arrow-back.available.active:after,div#bibi-arrow-back.available.active:before,div#bibi-arrow-forward.available.active:after,div#bibi-arrow-forward.available.active:before{transition-duration:.1s}div#bibi-arrow-back.available.active:before,div#bibi-arrow-forward.available.active:before{transform:scale(1);opacity:.75}div#bibi-arrow-back.available.glowing:after,div#bibi-arrow-back.available.glowing:before,div#bibi-arrow-forward.available.glowing:after,div#bibi-arrow-forward.available.glowing:before{transition-duration:.1s}div#bibi-arrow-back.available.glowing:before,div#bibi-arrow-forward.available.glowing:before{transform:scale(1.1);opacity:1}html.appearance-ttb div#bibi-arrow-back{top:0}html.appearance-ttb div#bibi-arrow-back:after,html.appearance-ttb div#bibi-arrow-back:before{transform-origin:50% 0}html.appearance-ttb div#bibi-arrow-back:before{content:"2";top:4px}html.appearance-ttb div#bibi-arrow-back:after{top:-39px;background:linear-gradient(0deg,hsla(0,0%,50%,0),hsla(0,0%,50%,0) 25%,hsla(0,0%,50%,.125))}html.appearance-ttb div#bibi-arrow-back.available.glowing:after,html.appearance-ttb div#bibi-arrow-back.available.hover:after{top:0}html.appearance-ttb div#bibi-arrow-back.available.glowing:before{content:"2";top:8px}html.appearance-ltr div#bibi-arrow-forward,html.appearance-rtl div#bibi-arrow-back{right:0}html.appearance-ltr div#bibi-arrow-forward:after,html.appearance-ltr div#bibi-arrow-forward:before,html.appearance-rtl div#bibi-arrow-back:after,html.appearance-rtl div#bibi-arrow-back:before{transform-origin:100% 50%}html.appearance-ltr div#bibi-arrow-forward:before,html.appearance-rtl div#bibi-arrow-back:before{content:"5";right:4px}html.appearance-ltr div#bibi-arrow-forward:after,html.appearance-rtl div#bibi-arrow-back:after{right:-39px;background:linear-gradient(90deg,hsla(0,0%,50%,0),hsla(0,0%,50%,0) 25%,hsla(0,0%,50%,.125))}html.appearance-ltr div#bibi-arrow-forward.available.glowing:after,html.appearance-ltr div#bibi-arrow-forward.available.hover:after,html.appearance-rtl div#bibi-arrow-back.available.glowing:after,html.appearance-rtl div#bibi-arrow-back.available.hover:after{right:0}html.appearance-ltr div#bibi-arrow-forward.available.glowing:before,html.appearance-rtl div#bibi-arrow-back.available.glowing:before{content:"5";right:8px}html.appearance-ttb div#bibi-arrow-forward{bottom:0}html.appearance-ttb div#bibi-arrow-forward:after,html.appearance-ttb div#bibi-arrow-forward:before{transform-origin:50% 100%}html.appearance-ttb div#bibi-arrow-forward:before{content:"3";bottom:4px}html.appearance-ttb div#bibi-arrow-forward:after{bottom:-39px;background:linear-gradient(180deg,hsla(0,0%,50%,0),hsla(0,0%,50%,0) 25%,hsla(0,0%,50%,.125))}html.appearance-ttb div#bibi-arrow-forward.available.glowing:after,html.appearance-ttb div#bibi-arrow-forward.available.hover:after{bottom:0}html.appearance-ttb div#bibi-arrow-forward.available.glowing:before{content:"3";bottom:8px}html.appearance-ltr div#bibi-arrow-back,html.appearance-rtl div#bibi-arrow-forward{left:0}html.appearance-ltr div#bibi-arrow-back:after,html.appearance-ltr div#bibi-arrow-back:before,html.appearance-rtl div#bibi-arrow-forward:after,html.appearance-rtl div#bibi-arrow-forward:before{transform-origin:0 50%}html.appearance-ltr div#bibi-arrow-back:before,html.appearance-rtl div#bibi-arrow-forward:before{content:"4";left:4px}html.appearance-ltr div#bibi-arrow-back:after,html.appearance-rtl div#bibi-arrow-forward:after{left:-39px;background:linear-gradient(270deg,hsla(0,0%,50%,0),hsla(0,0%,50%,0) 25%,hsla(0,0%,50%,.125))}html.appearance-ltr div#bibi-arrow-back.available.glowing:after,html.appearance-ltr div#bibi-arrow-back.available.hover:after,html.appearance-rtl div#bibi-arrow-forward.available.glowing:after,html.appearance-rtl div#bibi-arrow-forward.available.hover:after{left:0}html.appearance-ltr div#bibi-arrow-back.available.glowing:before,html.appearance-rtl div#bibi-arrow-forward.available.glowing:before{content:"4";left:8px}html.appearance-ttb.notifier-shown div#bibi-arrow-back.available.glowing:before{top:47px}div#bibi-spinner{box-sizing:border-box;display:none;position:absolute;z-index:99999999998;left:-100%;right:-100%;top:48%;bottom:auto;margin:auto;width:56px;height:56px}div#bibi-spinner:after,div#bibi-spinner:before{content:"";position:absolute;box-sizing:border-box;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%;opacity:.75}div#bibi-spinner:before{width:24px;height:24px;background:hsla(0,0%,75%,.75)}div#bibi-spinner:after{width:32px;height:32px;border:1.5px solid hsla(0,0%,75%,.5)}div#bibi-spinner span{display:block;position:absolute;left:-100%;right:-100%;top:0;bottom:auto;margin:0 auto;border-radius:50%;width:3px;height:3px;transform-origin:50% 28px}div#bibi-spinner span:first-child{background:#f0f0f0;transform:rotate(30deg)}div#bibi-spinner span:nth-child(2){background:#e0e0e0;transform:rotate(60deg)}div#bibi-spinner span:nth-child(3){background:#d1d1d1;transform:rotate(90deg)}div#bibi-spinner span:nth-child(4){background:#c2c2c2;transform:rotate(120deg)}div#bibi-spinner span:nth-child(5){background:#b3b3b3;transform:rotate(150deg)}div#bibi-spinner span:nth-child(6){background:#a3a3a3;transform:rotate(180deg)}div#bibi-spinner span:nth-child(7){background:#949494;transform:rotate(210deg)}div#bibi-spinner span:nth-child(8){background:#858585;transform:rotate(240deg)}div#bibi-spinner span:nth-child(9){background:#757575;transform:rotate(270deg)}div#bibi-spinner span:nth-child(10){background:#666;transform:rotate(300deg)}div#bibi-spinner span:nth-child(11){background:#575757;transform:rotate(330deg)}div#bibi-spinner span:nth-child(12){background:#474747;transform:rotate(1turn)}html.busy div#bibi-spinner{display:block;animation:a 1.5s linear 0s infinite normal}html.busy div#bibi-spinner:after,html.busy div#bibi-spinner:before{animation:b 2.25s ease 0s infinite normal}@keyframes a{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes b{0%{transform:scale(1);opacity:.75}25%{transform:scale(1.25);opacity:.5}50%{transform:scale(1);opacity:.75}75%{transform:scale(.8);opacity:1}to{transform:scale(1);opacity:.75}}