<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="stylesheet" href="/normalize.css" type="text/css">
	<link rel="stylesheet" href="/universal.css" type="text/css">
	<link rel="stylesheet" href="/styles.css" type="text/css">
	<title>
		{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }} {{ if eq $url "/" }} {{ .Site.Title }} {{ else }} {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }} {{ end }}
	</title>
	<link rel="canonical" href="{{ .Permalink }}">
</head>

<body>
	<header id=nav>
		<h1>
			<a href="/">{{ .Site.Title }}</a>
		</h1>
		<ul>
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</header>
	<hr>