@font-face {
	font-family:"Bembo Std";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BemboStd.otf");
}
@font-face {
	font-family:"Bembo Std";
	font-style:italic;
	font-weight:normal;
	src : url("../font/BemboStd-Italic.otf");
}
@font-face {
	font-family:"Bembo Std";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/BemboStd-Italic.otf");
}
@font-face {
	font-family:"Bembo Std Semibold";
	font-style:normal;
	font-weight:600;
	src : url("../font/BemboStd-Semibold.otf");
}
@font-face {
	font-family:"Gill Sans";
	font-style:normal;
	font-weight:normal;
	src : url("../font/GillSans.ttc");
}
@font-face {
	font-family:"Gill Sans";
	font-style:normal;
	font-weight:300;
	src : url("../font/GillSans-Light.ttc");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Enkel-bildram {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Enkel-textram {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Bembo Std Semibold", serif;
	font-size:280px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:190px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Bembo Std Semibold", serif;
	font-size:240px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:200px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:116.6px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:140px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:140px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:180px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:180px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:104.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:180px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Bembo Std", serif;
	font-size:220px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:240px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#000000;
	font-family:"Bembo Std Semibold", serif;
	font-size:140px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"Gill Sans", sans-serif;
	font-size:140px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#000000;
	font-family:"Gill Sans", sans-serif;
	font-size:140px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-webkit-transform:translate(51.888px,38.118px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:226.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(51.888px,38.118px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer001 {
	-webkit-transform:translate(46.771px,415.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.771px,415.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:218.27px;
}
#_idContainer002 {
	-webkit-transform:translate(70.157px,430.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.157px,430.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:171.50px;
}
#_idContainer003 {
	-webkit-transform:translate(62.362px,37.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:226.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,37.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer004 {
	-webkit-transform:translate(62.362px,53.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:395.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer005 {
	-webkit-transform:translate(62.362px,411.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,411.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer006, #_idContainer008, #_idContainer010, #_idContainer012, #_idContainer014, #_idContainer016, #_idContainer018, #_idContainer021, #_idContainer023, #_idContainer025, #_idContainer027, #_idContainer037, #_idContainer039, #_idContainer041, #_idContainer043, #_idContainer045, #_idContainer047, #_idContainer049, #_idContainer054, #_idContainer056, #_idContainer058, #_idContainer060, #_idContainer062, #_idContainer064, #_idContainer067, #_idContainer069, #_idContainer071, #_idContainer073, #_idContainer075, #_idContainer077, #_idContainer079, #_idContainer081, #_idContainer083, #_idContainer085, #_idContainer087, #_idContainer089, #_idContainer091, #_idContainer093, #_idContainer095, #_idContainer097, #_idContainer099, #_idContainer101, #_idContainer103, #_idContainer105, #_idContainer107, #_idContainer109, #_idContainer111, #_idContainer113, #_idContainer115, #_idContainer117, #_idContainer119, #_idContainer122, #_idContainer124, #_idContainer126, #_idContainer128, #_idContainer130, #_idContainer132, #_idContainer134, #_idContainer136, #_idContainer138, #_idContainer140, #_idContainer142, #_idContainer144, #_idContainer146, #_idContainer148, #_idContainer150, #_idContainer155, #_idContainer157, #_idContainer159, #_idContainer161, #_idContainer165, #_idContainer168, #_idContainer170, #_idContainer172, #_idContainer174, #_idContainer176, #_idContainer178, #_idContainer180, #_idContainer182, #_idContainer185, #_idContainer223, #_idContainer225, #_idContainer229, #_idContainer236, #_idContainer238 {
	-webkit-transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer007, #_idContainer009, #_idContainer013, #_idContainer015, #_idContainer017, #_idContainer019, #_idContainer028, #_idContainer036, #_idContainer038, #_idContainer042, #_idContainer044, #_idContainer046, #_idContainer048, #_idContainer050, #_idContainer053, #_idContainer055, #_idContainer059, #_idContainer061, #_idContainer063, #_idContainer065, #_idContainer066, #_idContainer068, #_idContainer070, #_idContainer072, #_idContainer074, #_idContainer076, #_idContainer078, #_idContainer080, #_idContainer082, #_idContainer084, #_idContainer090, #_idContainer092, #_idContainer094, #_idContainer096, #_idContainer098, #_idContainer100, #_idContainer102, #_idContainer104, #_idContainer108, #_idContainer110, #_idContainer112, #_idContainer114 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:395.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer011 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:433.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer020, #_idContainer040, #_idContainer086, #_idContainer116 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:397.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer022 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:435.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer024, #_idContainer026 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:412.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer029, #_idContainer233 {
	-webkit-transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer030, #_idContainer234 {
	-webkit-transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer031 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:415.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer032 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer033 {
	-webkit-transform:translate(91.084px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(91.084px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer034 {
	-webkit-transform:translate(45.542px,90.945px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(45.542px,90.945px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer035 {
	-webkit-transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:170.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:170.27px;
}
#_idContainer051 {
	-webkit-transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer052 {
	-webkit-transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer057 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:416.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer088 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:420.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer106 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:415.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer118, #_idContainer120, #_idContainer121, #_idContainer123, #_idContainer125, #_idContainer127, #_idContainer129, #_idContainer131, #_idContainer133 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:428.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer135, #_idContainer137, #_idContainer139, #_idContainer141, #_idContainer143, #_idContainer145, #_idContainer147, #_idContainer149, #_idContainer151, #_idContainer152, #_idContainer153, #_idContainer154, #_idContainer156, #_idContainer158, #_idContainer160, #_idContainer162, #_idContainer163, #_idContainer164, #_idContainer166 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:338.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer167 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:438.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer169, #_idContainer171, #_idContainer173, #_idContainer175, #_idContainer177, #_idContainer179, #_idContainer181, #_idContainer183, #_idContainer184, #_idContainer186, #_idContainer187, #_idContainer189, #_idContainer190, #_idContainer191 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:382.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer188, #_idContainer192, #_idContainer212, #_idContainer218, #_idContainer221 {
	-webkit-transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer193, #_idContainer194, #_idContainer196, #_idContainer198, #_idContainer199, #_idContainer201, #_idContainer204, #_idContainer205, #_idContainer206, #_idContainer209, #_idContainer211, #_idContainer213, #_idContainer214, #_idContainer215, #_idContainer216, #_idContainer217, #_idContainer219, #_idContainer220, #_idContainer222, #_idContainer224, #_idContainer226, #_idContainer227, #_idContainer228, #_idContainer230, #_idContainer231 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:358.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer195 {
	-webkit-transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:80.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer197 {
	-webkit-transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer200 {
	-webkit-transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer202 {
	-webkit-transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.849px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer203 {
	-webkit-transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer207 {
	-webkit-transform:translate(60.849px,145.585px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.849px,145.585px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer208 {
	-webkit-transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.933px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer210 {
	-webkit-transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.391px,145.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.19px;
}
#_idContainer232 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer235, #_idContainer237, #_idContainer239 {
	-webkit-transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:228.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,53.676px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer240 {
	-webkit-transform:translate(62.362px,55.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:226.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.362px,55.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:206.93px;
}
#_idContainer241 {
	-webkit-transform:translate(42.519px,268.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,268.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:218.27px;
}
#_idContainer242 {
	-webkit-transform:translate(43.228px,440.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.228px,440.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:10.20px;
}
#_idContainer243 {
	-webkit-transform:translate(61.511px,204.656px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(61.511px,204.656px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:188.79px;
}
#_idContainer244 {
	-webkit-transform:translate(83.173px,293.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:153.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(83.173px,293.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:150.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
