.card {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: center left;
  transition: 800ms;
}
.cardface-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.card__face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background: center / contain no-repeat url(img.svg) white;
  transform: rotateY(0deg);
}
.card__face--front {
  transform: rotateY(0deg);
}
.card__face--back {
  transform: rotateY(180deg);
}
.flipped-left {
  transform: rotateY(-180deg);
}
