#flipper {
  --bookWidth: 650;
  --bookHeight: 1052;

  width: 100%;

  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  grid-template-columns: 1fr minmax(200px, calc(1px * var(--bookWidth))) 1fr;
}

#flipper > header {
  grid-column: 2/3;
  grid-row: 1/2;
}

#flipper > main {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: calc(var(--bookHeight) / var(--bookWidth) * 50%);
  position: relative;
}

#flipper > main > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 2000px;
}

#flipper > footer {
  grid-column: 2/3;
  grid-row: 3/4;
}
