@charset "UTF-8";
/*!
 *                                                                                                                                (℠)
 *  # Pipi Style
 *
 *  - "Styles for Pipi, an Embedder of BiB/i"
 *  - Copyright (c) Satoru MATSUSHIMA - http://bibi.epub.link/
 *  - Licensed under the MIT license. - http://www.opensource.org/licenses/mit-license.php
 *
 */
span.bibi-holder,span.bibi-holder>iframe.bibi-frame{display:block;box-sizing:border-box;position:relative;margin:0;padding:0;border:0 none transparent;vertical-align:top;line-height:1;text-decoration:none;background:transparent}span.bibi-holder{max-width:100%;max-height:100%}span.bibi-holder>iframe.bibi-frame{border:0px solid #fff;width:100%;height:100%}