html {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 17px;
  line-height: 1.7rem;
  color: #1d1313;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* .App {
  margin: auto;
  padding: 0;
  width: 100%;
  text-align: center;
} */
