header {
  margin: 0;
}

img {
  height: 20vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.headlines {
  margin: 0 8vw 3.6rem 0;
}

h1 {
  font-size: 5vw;
  margin: 1.5rem 0 1vh 17vw;
  padding: 0;
  letter-spacing: 0.06rem;
  font-weight: unset;
}

h2 {
  margin: 1.4em 0 0.8em 0;
  font-weight: unset;
  border-bottom: 1px dotted #8c8b8b;
}

hr {
  border-top: 1px dotted #8c8b8b;
}

h4,
h6 {
  font-weight: unset;
}

h4 {
  margin: 0 0 1vh 17vw;
  padding: 0;
  font-size: 90%;
  letter-spacing: 0.03em;
  font-style: italic;
}

.red-text {
  color: rgb(225, 23, 23);
}

.pullquote {
  margin: 2.4rem 0 2.4rem 0;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.3em;
  color: #3f3f3f;
}

.pullquote::first-letter {
  margin-left: -0.6rem;
}

.pullquote > span {
  font-size: 1.2rem;
  margin-left: -0.6rem;
}

.headlines .pullquote {
  display: none;
}

@media (min-width: 600px) {
  header {
    height: 100vh;

    /* border: 1px dotted red; */
  }

  img {
    float: left;
    height: 100%;
    width: 33vw;

    /* border: 1px dotted lime; */
  }

  .headlines {
    float: right;
    width: 66vw;
    height: 100%;
    margin: unset;
    padding: 0 8vw 0 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    /* border: 1px dotted blue; */
  }

  .headlines div {
    margin: auto;
    max-width: 100rem;

    /* border: 1px dotted pink; */
  }

  h1 {
    font-size: 4.5vw;
    margin: unset;
    letter-spacing: 0.06rem;
    font-weight: unset;
    line-height: 100%;
  }

  h4 {
    margin: 1em 0;
    font-size: 3vw;
  }

  .headlines .pullquote {
    display: unset;
    font-size: 2.5vw;
    margin-top: 100px;
    line-height: 1.2em;
  }

  .headlines .pullquote span {
    font-size: 2vw;
  }
}

section {
  clear: both;
  padding: 0 8vw 0 8vw;
  columns: 260px;
  column-gap: 3em;
  background-color: #fff;
}

section:last-of-type {
  columns: unset;
}

@media (min-width: 600px) {
  section {
    padding: 4vw;
  }
}

section p:first-child {
  margin-top: 0;
}

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  section p:first-child::first-letter {
    /* color: #4f4f4f; */
    font-weight: bold;
    margin-right: 0.5em;
    -webkit-initial-letter: 5;
    initial-letter: 5 4;
  }
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  section h2 > p::first-letter {
    /* color: #4f4f4f; */
    font-weight: bold;
    margin-right: 0.5em;
    -webkit-initial-letter: 2;
    initial-letter: 2 1;
  }
}
