{{ partial "header.html" . }}

<section id=content>
	<h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

	<!-- <div id=sub-header>
		{{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
	</div> -->

	<div class="entry-content">
		{{ .Content }}
	</div>

</section>

{{ partial "footer.html" . }}
